@{
  Layout = "_Layout";
}

      <p>Use the menu bar to see your Stylists and their clients. Or use the button below to quickly add a Stylist and client</p>
      <div class="banner_btn">
        <a href='@Url.Action("Create", "Stylists")' class="btn_2">Add new stylist</a>
      </div>